.label {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
}

.text {
  margin-bottom: 3px;
}

.input {
  width: 170px;
  margin-bottom: 15px;

  border: 1px solid #c0c0c0;
}

.input:focus {
  border: solid 1.5px #188ce8;
  outline: rgba(0, 0, 0, 0);
}
