.list {
  width: 400px;
  margin-left: 20px;
  list-style-position: inside;
}

/* .item {
    text-align: center;
    display: flex;
    gap: 13px;
    align-items: center;
    list-style-type: disc;
   
} */

.item:not(:last-child) {
  margin-bottom: 10px;
}
.button {
  width: 60px;
  padding: 3px 0;
  margin-left: 13px;

  border: 1px solid #c0c0c0;
  border-radius: 5px;

  cursor: pointer;
}

.button:hover {
  background-color: #188ce8;

  border: 1px solid #188ce8;
  outline: rgba(0, 0, 0, 0);
}
